[submodule "Unity.Interactions/Packages/com.vu.powerwall"]
	path = Unity.Interactions/Packages/com.vu.powerwall
	url = git@github.com:footballdaniel/com.vu.powerwall
[submodule "Unity.Interactions/Packages/com.vu.passdetection"]
	path = Unity.Interactions/Packages/com.vu.passdetection
	url = git@github.com:footballdaniel/com.vu.passdetection
